In [45]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [46]:
df = pd.read_csv("players.csv")
df = df.iloc[:, 1:]

In [47]:
df.sample(4).transpose()

,3393,4840,5011,61
match_id,598070,829789,829817,335989
inning,2,2,2,1
batting_team,Mumbai Indians,Mumbai Indians,Chennai Super Kings,Chennai Super Kings
bowling_team,Chennai Super Kings,Chennai Super Kings,Mumbai Indians,Mumbai Indians
over,16,17,4,9
ball,3,2,4,4
batter,AT Rayudu,AT Rayudu,F du Plessis,SK Raina
bowler,CH Morris,DJ Bravo,MJ McClenaghan,Harbhajan Singh
non_striker,MG Johnson,HH Pandya,MEK Hussey,ML Hayden
batsman_runs,2,1,0,1
extra_runs,0,0,0,0
total_runs,2,1,0,1
extras_type,NaN,NaN,NaN,NaN
is_wicket,0,0,0,0
player_dismissed,NaN,NaN,NaN,NaN
dismissal_kind,NaN,NaN,NaN,NaN
fielder,NaN,NaN,NaN,NaN
match_id.1,NaN,NaN,NaN,NaN
id,598070,829789,829817,335989
season,2013,2015,2015,2007/08
city,Delhi,Chennai,Mumbai,Chennai
date,2013-05-21,2015-05-08,2015-05-19,2008-04-23
match_type,Qualifier 1,League,Qualifier 1,League
player_of_match,MEK Hussey,HH Pandya,KA Pollard,ML Hayden
venue,Feroz Shah Kotla,"MA Chidambaram Stadium, Chepauk",Wankhede Stadium,"MA Chidambaram Stadium, Chepauk"
team1,Chennai Super Kings,Chennai Super Kings,Chennai Super Kings,Chennai Super Kings
team2,Mumbai Indians,Mumbai Indians,Mumbai Indians,Mumbai Indians
toss_winner,Chennai Super Kings,Chennai Super Kings,Mumbai Indians,Mumbai Indians
toss_decision,bat,bat,bat,field
winner,Chennai Super Kings,Mumbai Indians,Mumbai Indians,Chennai Super Kings
result,runs,wickets,runs,runs
result_margin,48.0,6.0,25.0,6.0
target_runs,193.0,159.0,188.0,209.0
target_overs,20.0,20.0,20.0,20.0
super_over,N,N,N,N
method,normal,normal,normal,normal
umpire1,NJ Llong,CB Gaffaney,HDPK Dharmasena,DJ Harper
umpire2,RJ Tucker,CK Nandan,RK Illingworth,GA Pratapkumar

In [48]:
df['team1'].unique()

array(['Chennai Super Kings', 'Mumbai Indians'], dtype=object)

In [49]:
df['team2'].unique()

array(['Mumbai Indians', 'Chennai Super Kings'], dtype=object)

In [50]:
df['date'].unique()

array(['2008-04-23', '2008-05-14', '2009-04-18', '2009-05-16',
       '2010-03-25', '2010-04-06', '2010-04-25', '2011-04-22',
       '2012-04-04', '2012-05-06', '2012-05-23', '2013-04-06',
       '2013-05-05', '2013-05-21', '2013-05-26', '2014-04-25',
       '2014-05-10', '2014-05-28', '2015-04-17', '2015-05-08',
       '2015-05-19', '2015-05-24', '2018-04-07', '2018-04-28',
       '2019-04-03', '2019-04-26', '2019-05-07', '2019-05-12',
       '2020-09-19', '2020-10-23', '2021-05-01', '2021-09-19',
       '2022-04-21', '2022-05-12', '2023-04-08', '2023-05-06',
       '2024-04-14'], dtype=object)

In [51]:
df.dismissal_kind.unique()

array([nan, 'caught', 'bowled', 'run out', 'caught and bowled', 'lbw',
       'stumped', 'retired hurt'], dtype=object)

In [52]:
highest_score = df.groupby(['batter'])['batsman_runs'].sum().sort_values(ascending=False).reset_index().head(10)
highest_score

         batter  batsman_runs
0     RG Sharma           805
1      SK Raina           710
2      MS Dhoni           675
3     AT Rayudu           658
4    KA Pollard           583
5      DR Smith           415
6  SR Tendulkar           368
7      DJ Bravo           362
8   S Badrinath           321
9      SA Yadav           314

In [53]:
highest_score = df[df.dismissal_kind != 'run out'].groupby(['bowler'])['is_wicket'].sum().sort_values(ascending=False).reset_index().head(10)
highest_score

            bowler  is_wicket
0         DJ Bravo         35
1       SL Malinga         31
2  Harbhajan Singh         26
3        RA Jadeja         20
4        MM Sharma         15
5       KA Pollard         14
6        DL Chahar         13
7        JJ Bumrah         12
8         R Ashwin         12
9        HH Pandya         10

In [55]:
df[df.dismissal_kind == 'caught'].groupby('fielder').count().sort_values(by='is_wicket', ascending=False)['is_wicket'].head(10)

fielder
SK Raina        23
MS Dhoni        20
KA Pollard      14
RA Jadeja       14
F du Plessis    14
RG Sharma       12
Q de Kock       10
M Vijay          8
DJ Bravo         8
SA Yadav         7
Name: is_wicket, dtype: int64